*.swp
.project
.settings
.children
.buildlog
pubspec.lock
books/tis/*.js
books/tis/*.js.map
books/tis/*.html
books/tis/*.graphml
books/test/*.js
books/test/*.js.map
books/test/*.js.deps
books/test/*.html
books/test/*.graphml
books/test/*.dart
books/bodega/bodega.*
books/bodega/part.js*
test/files/*.dart
packages
*/packages
*/packages/*
*/*/packages
*/*/packages/*
**/*.tmLanguage.cache
**/*.tmPreferences.cache
**/.idea/*

