*.swp
.project
.children
pubspec.lock
example/library/*.js
example/library/*.js.map
example/library/*.html
example/library/*.graphml
example/test/*.js
example/test/*.js.map
example/test/*.js.deps
example/test/*.html
example/test/*.graphml
example/test/*.dart
test/files/*.dart
packages
*/packages
*/packages/*
*/*/packages
*/*/packages/*
