*.swp
.project
.children
pubspec.lock
books/library/*.js
books/library/*.js.map
books/library/*.html
books/library/*.graphml
books/test/*.js
books/test/*.js.map
books/test/*.js.deps
books/test/*.html
books/test/*.graphml
books/test/*.dart
test/files/*.dart
packages
*/packages
*/packages/*
*/*/packages
*/*/packages/*
