
/// Blog listing (/blog)

.blogpost-listing {

	h2 {
		margin: 0;
		font-size: 100%;
		text-transform: none;
	}

	a {
		text-decoration: none;
	}

	li {
		list-style-type: circle;
	}

	p {
		font-size: 70%;
	}
}

/// Blog ticker

.blog-ticker {
	font-family: 'Helvetica';
}

.blogposts-heading {

	h3 {
		margin-top: 0.5rem;
	}

	a {
		text-decoration: none;
	}

	span {
		font-size: 50%;
	}
}


.blogpost-snippet-wrapper {
	font-size: 70%;
}

@mixin snippet-line() {
	padding: 0;
	margin: 0;

	text-decoration: none;
}

.blogpost-snippet {
	overflow: hidden;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	@include snippet-line();

	a {
		text-decoration: none;
	}
}

.date-label {
	@include label(
	    // This options sets label padding
	    $padding: 3px 6px 3px,
	    // This option sets label text-size
	    $text-size: 70%,
	    // This option sets label background-color
	    $bg: rgba(255, 255, 255, 0.8),
	    // This option sets the radius of the label
	    $radius: 3px
	);
}

/// Blogposts themselves

.back-to-homepage {
	text-decoration: none;
}

.blog-title {
	font-family: $serif-font-stack;
	text-transform: none;
	margin-top: 3rem;
}

p.meta {
	font-size: 70%;
}

.footnotes {
	font-size: 90%;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#disqus_thread {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.next-post a, .prev-post a {
	font-size: 70%;
	text-decoration: none;
}

.prev-post {
	margin-bottom: 0;
}

.next-post {
	margin-top: 0;
	text-align: right;
}
