/* @override http://0.0.0.0:4000/css/main.css */

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

// /* Global Reset */
// /* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

// html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
//   border: 0;
//   font-size: 100%;
//   font: inherit;
//   vertical-align: baseline;
//   margin: 0;
//   padding: 0
// }

// article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
//   display: block
// }

// body {
//   line-height: 1
// }

// ol,ul {
//   list-style: none
// }

// blockquote,q {
//   quotes: none
// }

// blockquote:before,blockquote:after,q:before,q:after {
//   content: none
// }

// table {
//   border-collapse: collapse;
//   border-spacing: 0
// }

/* BASICS */

$serif-font-stack: Garamond, Georgia, Palatino, serif;

body {
  font-family: $serif-font-stack;
  text-align: justify;
  color: #333;
  line-height: 1.6em;
}

h1, h2 {
  font-family: sans-serif;
  text-transform: uppercase;
  margin-bottom: 1em;
}

h1 {
  font-size: 150%;
  margin-top: 3rem;
}

h1 img {
  width: 50%;
  margin-left: -8px;
}

img {
  max-width: 100%;
}

.book {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  width: 50%;
}

.knight {
  float: right;
  max-width: 40%;
  margin-left: 1em;
  margin-bottom: 1em;
}

.cleaner {
  float: right;
  max-width: 30%;
  margin-left: 1em;
  margin-bottom: 1em;
}

h2 {
  margin-top: 2em;
}

p {
  margin-bottom: 1em;
}

ol {
  margin-left: 2em;
  list-style-type: decimal;
}

li {

}

blockquote {
  padding: 0 2em;
  border-left: 1px dashed #ccc;
}

a {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

code {
  font-family: monospace;
}

.choices {
  margin: 0 0;
  padding-left: 0;
  text-decoration: none;
}

.button {
  background: #ccc;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  padding: 0.4em 1.5em;
  margin: 0.4em 0;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0.2em;
  text-align: left;
  cursor: pointer;
  display: block;
  font-size: 100%;
  color: #333;
}

.button a {
  text-decoration: none;
  color: #333;
}


.preferred {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#05a505),to(#01a101));
  background-image: linear-gradient(top,#05a505,#01a101);
}

li.preferred a {
  color: white;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 120%;
  text-align: left;
  max-width: 38em;
  margin: 1em auto 2em;
  padding: 0 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  margin-top: 4em;
  margin-bottom: 4em;
  overflow: hidden;
  line-height: 1em;
}

.footer .g-community-wrapper {
  float: left;
}

.footer .contact {
  float: right;
  margin-right: 3em;
}

.footer .contact a {
  text-decoration: none;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
  body {
	font-size: 90%;
  }

  .footer .g-community-wrapper {
    clear: both;
    float: right;
    margin-top: 1em;
  }
}

@media (max-width: 500px) {
  blockquote {
    padding: 0 0 0 1em;
  }
  .knight, .cleaner {
	margin-top: 1em;
	float: none;
	max-width: 100%;
  }
  h1 img {
    width: 100%;
  }
  
}
