
body {
	font-family: Garamond, Georgia, Palatino, serif;
	text-align: justify;
}

div#matrioska {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

h1 {
	color: #999;
}