/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block
}

body {
  line-height: 1
}

ol,ul {
  list-style: none
}

blockquote,q {
  quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

body {
  font-family: Garamond, Georgia, Palatino, serif;
  text-align: justify;
  line-height: 1.5em;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 3em;
  background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
    color-stop(1, #eee),
    color-stop(0, #fff)
  );
  padding: 0.5em 2em 0em 2em;
  box-shadow: 0px 0px 1px 1px #ddd;
}

h1 {
  color: #999;
  margin: 1.5em 0 1em;
  font-size: 200%;
}

p {
  margin: 1em 0;
}

div#wrapper {
  max-width: 40em;
  margin: 2em auto;
  padding: 1em;
}

div#book-whitespace-footer {
  height: 20em;
}

div.savegame {
  cursor: pointer;
}

div.savegame:hover {
  border-right: 1px solid blue;
}

ol.choices-ol {
  padding: 0;
  margin: 0;
  padding-left: 2em;
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: outside;
}

ol.choices-ol li {
  padding: 0.4em;
  margin: 0;
}

/*ol.choices-ol li:not(:last-child) {
  border-bottom: 1px solid #eee;
}*/

ol.choices-ol li a {
  color: blue;
  cursor: pointer;
}

ol.choices-ol li.chosen {
  font-weight: bold;
}

ol.choices-ol li a:hover {
  text-decoration: underline;
}