@import "reset";


$max-width: 40rem;

$garamond: "Garamond", "Georgia", "Palatino", "Cambria", "Times New Roman", "Times", serif;
$sans-serif: "Roboto", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

// $modular-scale-ratio: $golden;
$standard-font-size: 1.2rem;
$sans-serif-font-size: $standard-font-size * 0.9;
$smaller-serif-font-size: $sans-serif-font-size * 0.8;
$line-height: $standard-font-size / 14 * 22;
$border-radius: 0.2rem;

@import "bourbon/bourbon";

body {
  //@include radial-gradient(#1e5799, #3dc3d1);
  font-family: $garamond;
  line-height: $line-height;
  text-align: justify;
  font-size: $standard-font-size;
  @include hyphens(auto);
}

.wrapper {
  max-width: $max-width;
  margin: 2rem auto;
  padding: 1rem 1rem 3rem;
}

@mixin button-appearance {
  display: inline-block;
  font-family: $sans-serif;
  font-size: $sans-serif-font-size;  // Roboto is a larger font.
  border: 1px solid #ddd;
  border-radius: $border-radius;
  padding: 0.4rem 0.8rem;
  // @include radial-gradient(circle at 10% 10%, #f9f9f9 10%, #f1f1f1);
  // @include linear-gradient(#f9f9f9 10%, #f1f1f1);
  @include linear-gradient(#f9f9f9 10%, #ededed);
  cursor: pointer;
  box-sizing: border-box;
  min-height: 2 / 3 * $line-height;
}

.hidden {
  display: none;
}

// SPLASH SCREEN

$bottom-fixed-height: 6rem;

#book-title {
  background: white;
  // background: radial-gradient(circle at 10% 10%, #f9f9f9 10%, #f1f1f1);
  z-index: 9999;
  top:0;
  left:0;
  right: 0;
  bottom: $bottom-fixed-height;
  overflow-y: scroll;
  position: fixed;
}

.bottom-fixed {
  position: fixed;
  z-index: 9999;
  height: $bottom-fixed-height - (2 * 2rem);
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  padding: 2rem 1rem;

  button {
    max-width: $max-width;
    margin: auto;
  }
}

.bottom-fixed-gradient {
  position: fixed;
  z-index: 10000;
  bottom: $bottom-fixed-height;
  left: 0;
  right: 0; 
  height: 1rem;
  @include linear-gradient(to top,
                           rgba(255, 255, 255, 1) 0%, 
                           rgba(255, 255, 255, 0) 100%,
                           $fallback: transparent);
}

h1 {
  font-size: 4 / 3 * $line-height;
  font-family: $sans-serif;
  font-weight: bold;
  text-align: left;
  line-height: 2 * $line-height;
  margin-top: 5vh;
  margin-bottom: $line-height;
}

// NAV

nav {
  @include position(fixed, 0 0 null 0);
  z-index: 10;

  button {
    width: auto;
  }
}

#top-nav {
  @include display(flex);
  @include justify-content(space-between);
  background-color: white;
}

#bottom-gradient-nav {
  height: 1rem;
  @include linear-gradient(to bottom,
                           rgba(255, 255, 255, 1) 0%, 
                           rgba(255, 255, 255, 0) 100%,
                           $fallback: transparent)
}

#left-hand-nav {
  @include flex(1 0 0);
  padding-top: 0.5rem;
  padding-left: 1rem;
}

#right-hand-nav {
  @include flex(2 0 0);
  padding-top: 0.5rem;
  padding-right: 1rem;

  display: inline;
  text-align: right;

  button {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

#stats {
  display: inline;
  text-align: right;
}

#points-button {
  font-weight: bold;
  border-color: gold;
}

nav button {
  @include button-appearance;
  color: #666;
  text-shadow: 1px 1px 0px #ffffff;
}

.display-none {
  display: none;
}

.blink {
  @include animation(highlight 1s)
}

@include keyframes(highlight) {
  0% {
    box-shadow: none;
  }
  10% {
    box-shadow: 0 0 0.5rem 0.5rem lightblue;
  }
  100% {
    box-shadow: none;
  }
}


// TOASTS (meta information such as points/score awards)

p.toast {
  font-size: $smaller-serif-font-size;
  font-family: $sans-serif;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: $line-height;

  @include transition(color 5s);
  color: #999;
  border-radius: $border-radius;
}


p.toast.non-dimmed {
  color: inherit;
  /* TODO: make the transition work */
}


// Footnotes

@mixin badge($color: #999, $badge-font-size: 1rem) {
  background-color: tint($color, 99%);
  border-radius: $badge-font-size * 5;
  color: $color;
  display: inline-block;
  font-size: $badge-font-size;
  font-weight: 600;
  font-family: $sans-serif;
  vertical-align: super;
  line-height: 1;
  padding: 0.2rem 0.3rem;
  border: 1px solid tint($color, 80%);
}

.footnote {
  @include badge($color: blue, $badge-font-size: 0.6rem);
  cursor: pointer;
}


// DIALOG

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(100, 100, 100, 0.5);
}

.dialog-window {
  background: white;
  position: fixed;
  z-index: 500;
  top: 50%;
  left: 50%;
  width: 80vw;
  margin-left: -40vw;
  max-height: 70vh;
  margin-top: -35vh;
  box-shadow: 0 0 0.5rem 0.5rem #fff;
  box-sizing: border-box;
  padding: 5vh;
  border-radius: $border-radius;
}

div.dialog h3 {
  font-family: $sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.dialog-content {
  overflow-y: auto;
  max-height: 35vh;
}

.dialog-buttons {
  margin-top: 1.5rem;
}

div.dialog p {
  text-align: left;
  font-size: $sans-serif-font-size;
  font-family: $sans-serif;
}

div.dialog table {
  width: 100%;

  td {
    font-size: $sans-serif-font-size;
    font-family: $sans-serif;
    padding: 0.5rem;
    padding-left: 0;
    padding-right: 1rem;
    border-top: 1px solid lightgray;
  }

  tr:first-child td {
    border-top: 2px solid lightgray;
  }
}


// TYPOGRAPHY

p {
  margin-bottom: $line-height;
}

p img {
  max-width: 100%;
  // margin: 2em 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

h2 {
  font-size: $line-height;
  font-family: $sans-serif;
  margin: $line-height 0;
  margin-top: 2 * $line-height;
  font-weight: bold;
}

.meta {
  font-size: $sans-serif-font-size;
  font-family: $sans-serif;
  text-align: left;
  @include radial-gradient(lightyellow, shade(lightyellow, 5%));
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
}

// Above and below book contents

#book-whitespace-header {
  height: 5rem;
}

#loading {
  text-align: center;
}

#book-whitespace-footer {
  height: 10rem;
}


// CHOICES

.choices-question {
  margin-bottom: $line-height - $standard-font-size;
}

.choices-div {
  margin-bottom: $line-height;
}

button {
  @include button-appearance;
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 1 / 3 * $line-height;
  padding: 0.4rem 1.5rem;
  // font-size: modular-scale(0);
}

ol.choices-ol button span.choice-number {
  display: block;
  width: 1.5rem;
  float: left;
  text-align: right;
}

ol.choices-ol button span.choice-display {
  padding-left: 2.5rem;
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(flex-start);
}

ol.choices-ol button span.choice-text {
  @include order(1);
  display: block;
}

.choices-div.chosen button:not(.chosen) {
  @include linear-gradient(tint(#f9f9f9, 50%) 10%, tint(#ededed, 50%));
  color: #ddd;
}

// Infochips

.choice-infochips {
  @include order(2);
}

.choice-infochip {
  font-size: $sans-serif-font-size / 3 * 2;
  border: 1px solid #ddd;
  border-radius: $border-radius;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.1rem 0.3rem;
}

.choices-submenu-buttons {
  @include display(flex);
}

.submenu-button {
  margin-top: 0;
  font-size: $sans-serif-font-size / 2;
  width: auto;
  margin-right: 1rem;
}

.depressed {
  background: white;
}

// FORMS

.form {
  font-size: $sans-serif-font-size;
  font-family: $sans-serif;
  text-align: left;
  margin-top: $line-height;
  margin-bottom: $line-height;
  padding: 0 $line-height;

  & > div > div {
    min-height: $line-height;
    margin-bottom: $line-height / 2;
  }
}

// Form table 

.form-table {
  width: 100%;
  line-height: $line-height;

  th {
    width: 30rem;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-size: $smaller-serif-font-size;
    line-height: $smaller-serif-font-size;
    padding-bottom: $smaller-serif-font-size;
    padding-right: 0.5rem;
  }

  td:first-child {
    font-weight: bold;
  }

  td {
    padding-right: 0.5rem;
  }
}

// Form Section

.form-section-title-wrapper {
  //border-top: 2px solid #ddd;
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(flex-start);
  background: white;
}

.form-section-title {
  @include order(1);
  @include flex(1);
}

.form-section-open-close {
  @include order(2);
}

.form-section-children {
  @include transform(scaleY(1));
  @include transform-origin(top);
  @include transition(transform 0.1s ease-out);
  position: relative;
  padding: 0 0 $line-height/2 0;
}

.closed {
  @include transform(scaleY(0));
  position: absolute;
}


// Radio buttons

.buttons-and-value {
  @include display(flex);
  @include justify-content(space-between);
  align-items: center;

  .buttons input {
    vertical-align: middle;
  }

  .current-value {
    margin: 0;
    margin-left: 2rem;
  }
}

// Checkbox

.checkbox-input {
  @include clearfix;

  input {
    @include transform(scale(1.5));
    float: left;
    height: $line-height;
  }

  label {
    display: block;
    text-align: left;
    padding-left: 2rem;
    min-height: $line-height;
  }
}


// Select

.multiple-choice-input {
  margin-bottom: $line-height;

  select {
    display: block;
    font-size: $sans-serif-font-size;
    // -webkit-appearance: none;
  }
}